<ion-grid id="main-table-container">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia">
  </mat-form-field>
  
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
  
      <ng-container matColumnDef="customer">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Customer </th>
        <td mat-cell *matCellDef="let row"> {{row.customer}} </td>
      </ng-container>
  
      <ng-container matColumnDef="project">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Project </th>
        <td mat-cell *matCellDef="let row"> {{row.project}} </td>
      </ng-container>
  
      <ng-container matColumnDef="country">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Country </th>
        <td mat-cell *matCellDef="let row"> {{row.country}} </td>
      </ng-container>
  
      <ng-container matColumnDef="supportLevel">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Support Level </th>
        <td mat-cell *matCellDef="let row"> {{row.supportLevel}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="availableColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: availableColumns;">
      </tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</ion-grid>